.collapse{display: none; }
.collapse.in {display: block; }
.past_person__image img{}
/*border-radius:50%;max-width:200px; max-height:200px;min-width:150px; min-height:150px;}
.person__image img{border-radius:50%;}*/
img.sponsor_img{max-height:200px;max-width:200px;margin:5px;}
